* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.animation {
  --frames: 92;

  background-color: #161616;
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.animation-wrapper {
  aspect-ratio: 16/9;
  position: relative;
  width: 80vw;
}

.animation-wrapper {
  border-style: solid;
  border-width: 5vmin;
  border-left-color: #eee;
  border-top-color: #ddd;
  border-right-color: #eee;
  border-bottom-color: #fff;
  box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.25) inset, 0 0.25rem 0.5rem 0.25rem rgba(0, 0, 0, 0.25);
  position: relative;
}

.animation-wrapper:before {
  content: '';
  border-radius: 2px;
  box-shadow: 0 2px 0.25rem 0 rgba(0, 0, 0, 0.25) inset;
  position: absolute;
  top: -2vmin;
  left: -2vmin;
  right: -2vmin;
  bottom: -2vmin;
}

.animation-wrapper:after {
  content: '';
  border-radius: 2px;
  box-shadow: 0 2px 0.25rem 0 rgba(0, 0, 0, 0.25);
  position: absolute;
  top: -2.5vmin;
  left: -2.5vmin;
  right: -2.5vmin;
  bottom: -2.5vmin;
}

.animation-plane {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.front {
  background-image: url(../assets/front_plane.png);
  z-index: 5;
}

.obstacle-front {
  background-image: url(../assets/objs_front.png);
  z-index: 4;
}

.dog {
  background-image: url(../assets/dog-animation.png);
  animation: play-sprite-animation 6s steps(var(--frames)) infinite;
  z-index: 3;
}

.obstacle {
  background-image: url(../assets/objs.png);
  z-index: 2;
}

.mid {
  background-image: url(../assets/mid-plane.png);
  z-index: 1;
}

.background {
  background-image: url(../assets/background.png);
  z-index: 0;
}

@keyframes play-sprite-animation {
  from {
    background-position: 0% 0;
  }
  to {
    background-position: 100% 0;
  }
}